@import 'tailwindcss';

@theme {
	--default-font-family: system-ui, sans-serif;
}

@layer base {
	* {
		scrollbar-color: var(--color-zinc-400) transparent;
		scrollbar-width: thin;
	}

	html {
		font-size: 14px;
	}

	body {
		background-color: var(--color-zinc-900);
		color: var(--color-zinc-50);
		min-height: 100vh;
	}

	pre {
		font-family: monospace;
	}
}
